root = true

[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,ps1}]
indent_style = space
indent_size = 4

[*.{js,json,xml}]
indent_style = space
indent_size = 2
